
html {
    scroll-behavior: smooth !important;
}

.App {
  // overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.ham {
  position: fixed;
  top: 1.5em;
  left:1.5em;
  padding: 5px;
  cursor: pointer;
  border-radius: 1em;
  z-index: 999;
  

  span {
    width: 35px;
    margin: 2px 0px;
    height:2px;
    transition: all .3s ease-in-out;

    

  }
 
}

.ham-active{
  // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); g54
  span {

    &:nth-child(1) {
      transform-origin:left 50% ;
      // transform:  rotate(45deg) ;
      transform:  rotate(45deg) translateY(-100%);
    }

    &:nth-child(3) {        
      transform-origin:left 50% ;
      // width:38px;
      transform:  rotate(-45deg) translateY(100%);
    }

    &:nth-child(2) {
      transform: translateX(-10px);
      opacity: 0;
    }

  }
}



*{
    box-sizing: border-box;
}



.ookan-overlay, .ookan-overlay, .eeji-overlay, .eeta-overlay, .eerin-overlay, .aarun-overlay, .eefa-overlay, .eeje-overlay, .eejo-overlay {
  position: absolute;
  content: " ";
  height: 100%;
  width: 0%;
  position: absolute;
  transform-origin: left;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0);
  // transition: all 1s;
}

.cover, .ookan, .eeji, .eeta, .eerin, .aarun, .eefa, .eeje, .eejo{
  opacity: 0;
  background-size: cover;
  background-position: 50% 50%;
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating-3 {  
  animation-name: floating;
  animation-duration: 3s;
  animation-delay: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating-2 {  
  animation-name: floating;
  animation-duration: 3s;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.floating-1 {  
  animation-name: floating;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.tmse {
  background-image: url("/assets/tmse-cover.jpg");
  background-size: cover;
  background-position: 50%< 50%;
}
  
.xkx {  
  animation-name: fonting;
  animation-duration: 3s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
  
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }    
}


@keyframes fonting {
  0% { font-family: "Crimson Text"; }
  50%  { font-family: "Nunito Sans"; }
  100%   { font-family: "Roboto"; }    
}

.music-more {
  background-image: url('/assets/music-dance.jpeg');
  background-size: cover;
  background-position: 10% 55%;
}
.about-more {
  background-image: url('/assets/shoulder-bg.png');
  background-size: cover;
  background-position: 10% 30%;
}
.night-out {
  background-image: url('/assets/night-out.jpg');
  background-size: cover;
  background-position: 10% 30%;
}
.ep-info {
  background-image: url('/assets/tmse-cover.jpg');
  background-size: cover;
  background-position: 10% 30%;
}

.shticky {
  position: sticky !important;
  top: 0;
}

.head-text {
  -webkit-text-stroke-width: 4;
  -webkit-text-stroke-color: #F8B343;
  font-family: "Crimson Text";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 120px; /* 48% */
  letter-spacing: 0.96px;
  text-transform: capitalize;
}

@keyframes flash {
    0% {
      left: 0 !important;
      width: 0%;
    }

    // 20% {
    // //   left: 0 !important;
    // //   width: 100%;
    // }

    // 40% {
    // //   left: 0 !important;
    // //   width: 100%;
    // }

    // 50% {
    //   left: 0 !important;
    //   width: 100%;
    // }
    
    // 60% {
    //   left: unset !important;
    //   right: 0;
    //   width: 100%;
    // }

    // 80% {

    // }

    100% {
      left: 0 !important;
      width: 50% !important;
    }
  }



// @media(max-width: 480px) {
//     .landing {
//         background-image: url('/assets/ruggedman-1.png');
//         background-size: cover;
//         background-position: 50% 50%;
//     }

// }